* {
    margin: 0;
    padding: 0; 
}

body{
    margin: 0;
    padding: 0;
}

.fondoprincipal{
    margin: 0;
    padding: 0;
}
.dropdown{
    margin: 0;
    padding: 0;
}

.fondoabsoluto {
    margin: 0;
    padding: 0;
}







